x-pf-info:
  settings:
    PROJECT_PREFIX:
      default: ""
    APIGATEWAY_TAG:
      default: latest
    DBSERVER_TAG:
      default: latest
    REALTIME_TAG:
      default: latest
    AUDITGUI_TAG:
      default: latest
    AUDIT_PROCESSING_TAG:
      default: "latest"
    WEBGUI_FORCE_GHOSTING:
      description: Force ghosting of all cameras
      default: true
    WEBGUI_UNGHOSTED_CAMERA_LIST:
      description: List of cameras that should not be ghosted. Should be a comma separated list of camera names
      default: ""
    GIFWRAPPER_TAG:
      default: latest
    DTREESERVER_TAG:
      default: latest
    PF_MOSQUITTO_TAG:
      default: latest
    DATA_INTERCONNECTOR_TAG:
      default: latest
    HTTP_PORT:
      default: 80

services:
  mongo:
    container_name: ${PROJECT_PREFIX:-}mongo
    hostname: ${PROJECT_PREFIX:-}mongo
    image: mongo:4.2.3-bionic
    restart: always
    # Increase open file handle limits (https://github.com/pacefactory/deployment-scripts/issues/94)
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    logging:
      driver: local
    expose:
      - "27017"
    volumes:
      # Old path for the volume, prior to using a proper docker volume
      # - "~/scv2/volumes/mongo:/data/db"
      - mongodata:/data/db
    networks:
      - internal_network

  dbserver:
    container_name: ${PROJECT_PREFIX:-}dbserver
    hostname: ${PROJECT_PREFIX:-}dbserver
    image: pacefactory/dbserver:${DBSERVER_TAG:-latest}
    restart: always
    logging:
      driver: local
    depends_on:
      - mongo
    stdin_open: true
    tty: true
    environment:
      - "MONGO_HOST=${PROJECT_PREFIX:-}mongo"
    volumes:
      - "dbserver-data:/home/scv2/volume"
    networks:
      - internal_network
      - external_network

  pf_mosquitto:
    container_name: ${PROJECT_PREFIX:-}pf_mosquitto
    hostname: ${PROJECT_PREFIX:-}pf_mosquitto
    image: pacefactory/pf_mosquitto:${PF_MOSQUITTO_TAG:-latest}
    restart: always
    logging:
      driver: local
    volumes:
      - mosquitto-data:/mosquitto
    networks:
      - external_network

  data_interconnector:
    container_name: ${PROJECT_PREFIX:-}data_interconnector
    hostname: ${PROJECT_PREFIX:-}data_interconnector
    image: pacefactory/data_interconnector:${DATA_INTERCONNECTOR_TAG:-latest}
    restart: always
    logging:
      driver: local
    depends_on:
      - pf_mosquitto
      - mongo
    environment:
      - "PF_MQTT_HOST=${PROJECT_PREFIX:-}pf_mosquitto"
      - "PF_MQTT_PORT=1883"
      - "PF_MONGO_HOST=${PROJECT_PREFIX:-}mongo"
      - "PF_MONGO_PORT=27017"
      - "PF_UISERVER_URL=http://${PROJECT_PREFIX:-}auditgui:80"
      # TEMP: We disable uiserver use until we complete the implementation of downstream microbatch processing
      - "PF_UISERVER_DISABLED=1"
    volumes:
      - data_interconnector-data:/home/scv2/volume
    networks:
      - internal_network
      - external_network

  realtime:
    container_name: ${PROJECT_PREFIX:-}realtime
    image: pacefactory/realtime:${REALTIME_TAG:-latest}
    hostname: ${PROJECT_PREFIX:-}realtime
    restart: always
    logging:
      driver: local
    depends_on:
      - pf_mosquitto
      - data_interconnector
    stdin_open: true
    tty: true
    environment:
      - "DBSERVER_HOST=${PROJECT_PREFIX:-}dbserver"
      - "REALTIME_APIGATEWAY=true"
      - "MQTT_BROKER_HOST=${PROJECT_PREFIX:-}pf_mosquitto"
      - "MQTT_BROKER_PORT=1883"
      - "DBSERVER_DOCKER_VOLUME_DATA_PATH=/home/scv2/dbserver_volume/data"
    volumes:
      - "realtime-data:/home/scv2/locations"
      - "dbserver-data:/home/scv2/dbserver_volume"
    networks:
      - external_network

  auditgui:
    container_name: ${PROJECT_PREFIX:-}auditgui
    hostname: ${PROJECT_PREFIX:-}auditgui
    image: pacefactory/scv3_webgui:${AUDITGUI_TAG:-latest}
    restart: always
    logging:
      driver: local
    depends_on:
      - dbserver
      - service_gifwrapper
      - service_dtreeserver
    environment:
      - "WEBGUI_APIGATEWAY=true"
      - "WEBGUI_FORCE_GHOSTING=${WEBGUI_FORCE_GHOSTING:-true}"
      - "WEBGUI_UNGHOSTED_CAMERA_LIST=${WEBGUI_UNGHOSTED_CAMERA_LIST:-}"
      - "WEBGUI_RETRIEVE_REALTIME_CAM_CONFIG_ON_INIT=${WEBGUI_RETRIEVE_REALTIME_CAM_CONFIG_ON_INIT:-false}"
      - "WEBGUI_OBJ_REQ_BATCH_SIZE=${WEBGUI_OBJ_REQ_BATCH_SIZE:-20}"
      - "WEBGUI_WORK_QUEUE_INSERTION_MODE=${WEBGUI_WORK_QUEUE_INSERTION_MODE:-depth-first}"
      - "WEBGUI_OBJECT_METADATA_DOWNSAMPLE_FACTOR=${WEBGUI_OBJECT_METADATA_DOWNSAMPLE_FACTOR:-0.1}"
      - "WEBGUI_SPLIT_BATCH_MIN_DURATION_MS=${WEBGUI_SPLIT_BATCH_MIN_DURATION_MS:-300000}"
      - "WEBGUI_SPLIT_BATCH_TARGET_COUNT=${WEBGUI_SPLIT_BATCH_TARGET_COUNT:-5}"
      - "WEBGUI_STATIC_PATH=/scv3/static/"
      - "WEBGUI_BASE_PATH=/scv3"
      - "WEBGUI_SOCIAL_WEB_APP_URL=/"
    volumes:
      - "webgui-data:/home/scv2/volume"
    networks:
      - external_network

  service_gifwrapper:
    container_name: ${PROJECT_PREFIX:-}service_gifwrapper
    image: pacefactory/service-gifwrapper:${GIFWRAPPER_TAG:-latest}
    restart: always
    logging:
      driver: local
    depends_on:
      - dbserver
    environment:
      - "DBSERVER_HOST=${PROJECT_PREFIX:-}dbserver"
    networks:
      - external_network

  service_dtreeserver:
    container_name: ${PROJECT_PREFIX:-}service_dtreeserver
    image: pacefactory/service-dtreeserver:${DTREESERVER_TAG:-latest}
    restart: always
    logging:
      driver: local
    depends_on:
      - dbserver
    environment:
      - "DBSERVER_HOST=${PROJECT_PREFIX:-}dbserver"
    volumes:
      - "service_dtreeserver-data:/home/scv2/volume"
    networks:
      - external_network

  service_audit_processing:
    container_name: ${PROJECT_PREFIX:-}service_audit_processing
    image: pacefactory/service-audit-processing:${AUDIT_PROCESSING_TAG:-latest}
    restart: always
    logging:
      driver: local
    depends_on:
      - dbserver
      - auditgui
      - service_dtreeserver
      - pf_mosquitto
    environment:
      - "PF_DEBUG=false"
      - "PF_DBSERVER_URL=http://${PROJECT_PREFIX:-}dbserver:8050"
      - "PF_UISERVER_URL=http://${PROJECT_PREFIX:-}auditgui:80"
      - "PF_DTREE_CLASSIFIER_URL=http://${PROJECT_PREFIX:-}service_dtreeserver:7272"
      - "PF_HTTP_SERVER_PORT=3005"
      - "PF_DEFAULT_REPORT_RANGE_HOURS=${PF_DEFAULT_REPORT_RANGE_HOURS:-168}"
      - "PF_PROCESS_BLOCK_DURATION_MINUTES=${PF_PROCESS_BLOCK_DURATION_MINUTES:-15}"
      - "PF_PROCESS_BLOCK_PREVIOUS_MINUTES=${PF_PROCESS_BLOCK_PREVIOUS_MINUTES:-5}"
      - "PF_RUN_PERIOD_MINUTES=${PF_RUN_PERIOD_MINUTES:-7.5}"
      - "PF_MQTT_URL=http://${PROJECT_PREFIX:-}pf_mosquitto:1883"
    volumes:
      - "audit_processing-data:/home/scv2/volume"
    networks:
      - external_network

  apigateway:
    container_name: ${PROJECT_PREFIX:-}apigateway
    hostname: ${PROJECT_PREFIX:-}apigateway
    image: pacefactory/apigateway:${APIGATEWAY_TAG:-latest}
    restart: always
    logging:
      driver: local
    environment:
      - "DBSERVER_HOST=${PROJECT_PREFIX:-}dbserver"
      - "DBSERVER_PORT=8050"
      - "DTREE_HOST=${PROJECT_PREFIX:-}service_dtreeserver"
      - "DTREE_PORT=7272"
      - "GIF_HOST=${PROJECT_PREFIX:-}service_gifwrapper"
      - "GIF_PORT=7171"
      - "REALTIME_HOST=${PROJECT_PREFIX:-}realtime"
      - "REALTIME_PORT=8181"
      - "AUDITGUI_HOST=${PROJECT_PREFIX:-}auditgui"
      - "AUDITGUI_PORT=80"
      - "AUDITPROC_HOST=${PROJECT_PREFIX:-}service_audit_processing"
      - "AUDITPROC_PORT=3005"
      - "SCV2_PROFILE_PF_MOSQUITTO=true"
      - "PF_MOSQUITTO_HOST=${PROJECT_PREFIX:-}pf_mosquitto"
      - "PF_MOSQUITTO_WEBSOCKETS_PORT=7575"
    depends_on:
      - dbserver
      - service_dtreeserver
      - service_gifwrapper
      - auditgui
      - service_audit_processing
      - pf_mosquitto
    ports:
      - "${HTTP_PORT:-80}:80"
    networks:
      - external_network

  record_video:
    container_name: ${PROJECT_PREFIX:-}record_video
    # Use the same image as realtime to ensure python dependencies/paths exist
    image: pacefactory/realtime:${REALTIME_TAG:-latest}
    # We don't restart always, this is a run-once task
    restart: "no"
    # Adding profile to not create this container on `docker compose up -d`
    profiles:
      - tools
    # User root so we don't have OS write permission issue
    user: root
    logging:
      driver: local
    environment:
      # Ensure python path includes where your libs are (assuming /app or /home/scv2)
      - "PYTHONPATH=/home/scv2:/app"
    volumes:
      # Access to the camera configs
      - "realtime-data:/home/scv2/locations"
      # Mount the CLI script
      - "../record_cli.py:/home/scv2/record_cli.py"
      # Mount the output directory (Expanding ~ in compose can be finicky,
      # using relative path or absolute path is safer. Assuming relative to project root here)
      - "${HOME}/scv2/videos:/output_videos"
    # Overwrite entrypoint to run our script
    entrypoint: ["python3", "/home/scv2/record_cli.py"]
    networks:
      - external_network

volumes:
  mongodata:
  dbserver-data:
  realtime-data:
  service_dtreeserver-data:
  webgui-data:
  mosquitto-data:
  data_interconnector-data:
  audit_processing-data:

networks:
  internal_network:
  external_network:
