x-pf-info:
  name: APE profile
  prompt: Enable the Alert Processing Engine (APE) profile?
  description: The Alert Processing Engine produces realtime alerts from MQTT object data.
  settings:
    APE_TAG:
      default: latest
    PUBLISH_DEBUG_MSGS:
      description: Should APE publish debug messages over MQTT?
      default: false

services:
  alert_processing_engine:
    container_name: ${PROJECT_PREFIX:-}alert_processing_engine
    hostname: ${PROJECT_PREFIX:-}alert_processing_engine
    image: pacefactory/alert_processing_engine:${APE_TAG:-latest}
    restart: always
    logging:
      driver: local
    depends_on:
      - pf_mosquitto
    # Volume is used for storing JSON configs - if those configs are eventually
    # moved somewhere else, this volume can be removed.
    volumes:
      - "ape-data:/home/scv2/ape"
    networks:
      - external_network
    environment:
      - "PF_MQTT_URL=mqtt://admin:pfadminpw@${PROJECT_PREFIX:-}pf_mosquitto:1883"
      - "PF_DBSERVER_URL=${PROJECT_PREFIX:-}dbserver"
      - "PF_APE_CONFIG_DIR=/home/scv2/ape"
      - "PF_APE_DEBUG_MQTT_MSGS=${PUBLISH_DEBUG_MSGS}"

volumes:
  ape-data:
