x-pf-info:
  name: Expresso profile
  prompt: Enable the Expresso profile?
  description: The Expresso profile expresso_server and UI for easier configuration
  settings:
    EXPRESSO_SERVER_TAG:
      default: latest
    EXPRESSO_UI_TAG:
      default: latest


services:
  expresso_server:
    container_name: ${PROJECT_PREFIX:-}expresso_server
    hostname: ${PROJECT_PREFIX:-}expresso_server
    image: pacefactory/expresso_server:${EXPRESSO_SERVER_TAG:-latest}
    restart: always
    logging:
      driver: local
    volumes:
      - expresso-data:/home/scv2/volume
    # Ports are conditionally enabled in the expresso-ports profile
    networks:
      - external_network
      - expresso_network
    environment:
      - "PF_APIGATEWAY=true"
      - "PF_ROOT_PATH=/api/expresso"
      - "PF_REDIS_HOST=${PROJECT_PREFIX:-}redis"
      - PF_MONGO_HOST=${PROJECT_PREFIX:-}mongo_exp
    depends_on:
      mongo:
        condition: service_started
        required: true
      celery_worker: 
        condition: service_started
        required: true
      redis:
        condition: service_started
        required: true

  expresso_ui:
    container_name: ${PROJECT_PREFIX:-}expresso_ui
    hostname: ${PROJECT_PREFIX:-}expresso_ui
    image: pacefactory/expresso_ui:${EXPRESSO_UI_TAG:-latest}
    restart: always
    logging:
      driver: local
    # Ports are conditionally enabled in the expresso-ports profile
    networks:
      - external_network
    environment:
      - "PF_APIGATEWAY=true"
      - "PF_EXPRESSO_SERVER_PORT=8456"
    depends_on:
      expresso_server:
        condition: service_started
        required: true

  redis:
    container_name: ${PROJECT_PREFIX:-}redis
    hostname: ${PROJECT_PREFIX:-}redis
    image: redis:8.2.1-alpine
    restart: always
    command: redis-server --save 60 1 --loglevel warning
    networks:
      - expresso_network

  celery_worker:
    container_name: ${PROJECT_PREFIX:-}celery_worker
    hostname: ${PROJECT_PREFIX:-}celery_worker
    image: pacefactory/expresso_server:${EXPRESSO_SERVER_TAG:-latest}
    entrypoint: ["/usr/local/bin/_entrypoint.sh", "./scripts/start_worker.sh"]
    restart: always
    logging:
      driver: local
    volumes:
      - expresso-data:/home/scv2/volume
    # Ports are conditionally enabled in the expresso-ports profile
    networks:
      - expresso_network
    environment:
      - "PF_REDIS_HOST=${PROJECT_PREFIX:-}redis"
      - PF_MONGO_HOST=${PROJECT_PREFIX:-}mongo_exp
      - PF_TRACK_FRAME_BATCH_LIMIT=10 # Max number of frames that can be tracked in a single run.
    depends_on:
      mongo_exp:
        condition: service_started
        required: true
      redis:
        condition: service_started
        required: true
  
  mongo_exp:
    container_name: ${PROJECT_PREFIX:-}mongo_exp
    hostname: ${PROJECT_PREFIX:-}mongo_exp
    image: mongodb/mongodb-community-server:8.2.1-ubi8
    restart: always
    networks: 
      - expresso_network
    volumes:
      - type: volume
        source: mongodata_exp
        target: /data/db
        volume: {}

  apigateway:
    depends_on:
      - expresso_server
      - expresso_ui
    environment:
      - "SCV2_PROFILE_EXPRESSO=true"
      - "EXPRESSO_SERVER_HOST=${PROJECT_PREFIX:-}expresso_server"
      - "EXPRESSO_SERVER_PORT=8456"
      - "EXPRESSO_UI_HOST=${PROJECT_PREFIX:-}expresso_ui"
      - "EXPRESSO_UI_PORT=80"

volumes:
  expresso-data:
  mongodata_exp:

networks:
  expresso_network:
