x-pf-info:
  name: APE profile
  prompt: Enable the Alert Processing Engine (APE) profile?
  description: The Alert Processing Engine produces realtime alerts from MQTT object data.
  settings:
    APE_TAG:
      default: latest
    PUBLISH_DEBUG_MSGS:
      description: Should APE publish debug messages over MQTT?
      default: false

services:
  alert_processing_engine:
    container_name: ${PROJECT_PREFIX:-}alert_processing_engine
    hostname: ${PROJECT_PREFIX:-}alert_processing_engine
    image: pacefactory/alert_processing_engine:${APE_TAG:-latest}
    restart: always
    logging:
      driver: local
    depends_on:
      - pf_mosquitto
    # Volume is used for storing JSON configs - if those configs are eventually
    # moved somewhere else, this volume can be removed.
    volumes:
      - "ape-data:/home/scv2/ape"
    networks:
      - external_network
    environment:
      - "PF_MQTT_URL=mqtt://admin:pfadminpw@${PROJECT_PREFIX:-}pf_mosquitto:1883"
      - "PF_DBSERVER_URL=http://${PROJECT_PREFIX:-}dbserver:8050"
      - "PF_APE_CONFIG_DIR=/home/scv2/ape"
      - "PF_APE_DEBUG_MQTT_MSGS=${PUBLISH_DEBUG_MSGS}"
      - "PF_APE_ENABLE_HTTP_SERVER=true"
      - "PF_APE_HTTP_PORT=5380"
    ports:
      - "5380"

  apigateway:
    environment:
      - "APE_HOST=${PROJECT_PREFIX:-}alert_processing_engine"
      - "APE_PORT=5380"
      - "SCV2_PROFILE_APE=true"
    depends_on:
      - alert_processing_engine


  ape_timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: ${PROJECT_PREFIX:-}ape_timescaledb
    hostname: ${PROJECT_PREFIX:-}ape_timescaledb
    restart: unless-stopped
    logging:
      driver: local
    expose:
      - "5432"
    environment:
      - POSTGRES_PASSWORD=pfadminpw
      - POSTGRES_USER=postgres
      - POSTGRES_DB=tsdb
    volumes:
      - ape_timescaledb-data:/var/lib/postgresql/data
    networks:
      - external_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  ape-data:
  ape_timescaledb-data:
