x-pf-info:
  name: Realtime CUDA
  prompt: Enable CUDA for Realtime?
  description:
    Should Realtime run with GPU (CUDA) support?
  sub-profile: true
  settings:
    REALTIME_TAG_DEFAULT_GPU:
      default: latest-gpu
      hidden: true

services:
  realtime:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
                - utility
                - compute
                - video
    environment:
      - "REALTIME_PREFER_GPU=true"
