x-pf-info:
  name: Expresso CUDA
  prompt: Enable CUDA for Expresso?
  description: Should Expresso run with GPU support
  requires: expresso-010
  settings:
    EXPRESSO_SERVER_TAG_DEFAULT_GPU:
      default: latest-gpu
      hidden: true

services:
  celery_worker:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
                - utility
                - compute
                - video
    environment:
      - PF_PREFER_GPU=true
