x-pf-info:
  settings:
    REALTIME_TAG:
      default: latest-gpu

services:
  realtime:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
                - utility
                - compute
                - video
    environment:
      - "REALTIME_PREFER_GPU=true"
